* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  // css background pattern from https://www.magicpattern.design/tools/css-backgrounds
  background-color: #3b414c;
  opacity: 1;
  background-image: radial-gradient(circle at center center, #fafafa, #3b414c),
    repeating-radial-gradient(
      circle at center center,
      #fafafa,
      #fafafa,
      25px,
      transparent 50px,
      transparent 25px
    );
  background-blend-mode: multiply;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #fff;
}

.main-container {
  width: 40rem;
  background: #eaeaea55;
  -webkit-box-shadow: 4px 4px 18px 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 4px 4px 18px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 4px 4px 18px 3px rgba(0, 0, 0, 0.6);
  border-radius: 0.6rem;
}

.form {
  padding: 2rem 4rem;

  .placeholder {
    display: block;
    color: #000;
    background: #eaeaeab7;
    text-align: center;
    font-size: 0.9rem;
    border: none;
  }

  &-field-container {
    position: relative;
    margin: 0 0 3rem 0;

    &.valid input {
      border: 2px solid rgb(34, 204, 34);
    }

    &.invalid input {
      border: 2px solid red;
    }

    &.invalid small {
      visibility: visible;
    }
  }

  label {
    color: #fff;
    font-size: 1.3rem;
    display: block;
    margin: 2rem 0 0.2rem 0;
  }

  small {
    color: rgb(255, 119, 119);
    position: absolute;
    visibility: hidden;
  }

  input {
    display: block;
    width: 100%;
    padding: 0.7rem;
    border: none;
    border-bottom: 2px solid #573ab4;
    background: #ffffffd0;

    &:focus {
      border: 3px solid #573ab4;
    }
  }
}

.tab2 {
  display: none;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.btn {
  width: 50%;
  padding: 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: 0;
  outline: 0;
  cursor: pointer;
  margin: 2.5rem 1.5rem 0 1.5rem;
  color: #fff;

  &:focus {
    outline: 1.4px solid #573ab4;
    border: 2px solid #fff;
  }

  &-next,
  &-submit {
    background: #573ab4;
  }

  &-submit {
    display: none;
  }

  &-prev {
    color: #000;
    display: none;

    &:focus {
      outline: 1.4px solid #fff;
      border: 2px solid #573ab4;
    }
  }
}

.step-container {
  text-align: center;
  margin-top: 3rem;
}

.step {
  height: 1.4rem;
  width: 1.4rem;
  margin: 0 2px;
  background-color: #573ab4;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.3;
  color: #fff;
}

.step.active {
  opacity: 1;
}


footer{
  position: fixed;
  bottom: 0;
  right: 0;

  a{
    color: #fff;
  }
 
}


@media (max-width:800px) {
  
.btn{
  margin-top: 0.1rem;
}

.step-container{
  margin-top: 1rem;
}

}

@media (max-width:600px) {

  html{
    font-size: 14px;
  }
  
  h1{
    font-size: 1.6rem;
  }

  .form {
    padding: 1.3rem 2rem;
  }
  
  .btn{
    margin-top: 0.1rem;
  }
  
  .step-container{
    margin-top: 1rem;
  }
  
  }